*.sif
.nextflow*
*.log*
*.tar
*.tar.gz

conda/builds
conda/targets

work
containers/singularity
containers/docker
containers/sources
containers/downloads
.nextflow
run
results
sources
downloads
cache

predector.wiki
