/*
 * -------------------------------------------------
 *  Predector Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
    name = 'predector'
    author = 'Lina Rosano, Darcy Jones, James Hane'
    homePage = 'https://github.com/ccdmb/predector'
    description = 'A pipeline to predict effectors.'
    mainScript = 'main.nf'
    nextflowVersion = '>=0.32.0'
    version = '0.0.1-dev.3'
}


// Global default params, used in configs
params {
    proteome = false
    phibase = false
    pfam_hmm = false
    pfam_hmm_url = "ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/Pfam-A.hmm.gz"
    pfam_dat = false
    pfam_dat_url = "ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/Pfam-A.hmm.dat.gz"
    pfam_active_site = false
    pfam_active_site_url = "ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/active_site.dat.gz"
    dbcan = false
    dbcan_url = "http://bcb.unl.edu/dbCAN2/download/dbCAN-HMMdb-V8.txt"
    chunk_size = 5000
    effector_table = "${baseDir}/data/fungal_effectors.tsv"
    outdir = 'results'
    help = false
    tracedir = "${params.outdir}/pipeline_info"
}


// Load base.config by default for all pipelines
includeConfig "${baseDir}/conf/base.config"
process.container = "predector/predector:${manifest.version}"

profiles {
    docker {
        docker.enabled = true
    }
    docker_sudo {
        docker.enabled = true
        docker.sudo = true
    }
    podman {
        podman.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
    test {
        includeConfig "$baseDir/conf/test.config"
    }
    pawsey_zeus {
        includeConfig "$baseDir/conf/pawsey_zeus.config"
    }
}

// Avoid this error:
// WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
// Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351, once this is established and works well, nextflow might implement this behavior as new default.
docker.runOptions = '-u \$(id -u):\$(id -g)'
podman.runOptions = '-u \$(id -u):\$(id -g)'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/pipeline_dag.svg"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
                return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
                return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
                return obj
        }
    }
}


def make_image_name(program, docker_user = "darcyabjones", tag = "${manifest.name}-${manifest.version}") {
    "${docker_user}/${program}:${tag}"
}
