/*
 * -------------------------------------------------
 *  Predector Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
    name = 'predector'
    author = 'Lina Rosano, Darcy Jones, James Hane'
    homePage = 'https://github.com/ccdmb/predector'
    description = 'A pipeline to predict effectors.'
    mainScript = 'main.nf'
    nextflowVersion = '>=21'
    version = '1.1.1-dev'
}


// Global default params, used in configs
params {
    proteome = false
    phibase = false
    phibase_url = "https://github.com/PHI-base/data/raw/master/releases/phi-base_current.fas"
    pfam_hmm = false
    pfam_hmm_url = "http://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/Pfam-A.hmm.gz"
    pfam_dat = false
    pfam_dat_url = "http://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/Pfam-A.hmm.dat.gz"
    dbcan = false
    dbcan_url = "https://bcb.unl.edu/dbCAN2/download/dbCAN-HMMdb-V10.txt"
    pfam_targets = "${baseDir}/data/pfam_targets.txt"
    dbcan_targets = "${baseDir}/data/dbcan_targets.txt"
    chunk_size = 5000
    effector_table = "${baseDir}/data/fungal_effectors.tsv"
    nostrip = false
    secreted_weight = 3
    sigpep_good_weight = 0.5
    sigpep_ok_weight = 0.25
    single_transmembrane_weight = -2
    multiple_transmembrane_weight = -6
    deeploc_extracellular_weight = 0.5
    deeploc_intracellular_weight = -0.5
    deeploc_membrane_weight = -0.5
    targetp_mitochondrial_weight = -0.5
    effectorp1_weight = 3
    effectorp2_weight = 3
    effector_homology_weight = 5
    virulence_homology_weight = 1
    lethal_homology_weight = -5
    tmhmm_first60_threshold=10
    outdir = 'results'
    help = false
    license = false
    version = false
    tracedir = "${params.outdir}/pipeline_info"
}


// Load base.config by default for all pipelines
includeConfig "${baseDir}/conf/base.config"
includeConfig "${baseDir}/conf/c4.config"
includeConfig "${baseDir}/conf/r8.config"

process.container = "predector/predector:${manifest.version}"

profiles {
    docker {
        docker.enabled = true
    }
    docker_sudo {
        docker.enabled = true
        docker.sudo = true
    }
    podman {
        podman.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
    test {
        includeConfig "$baseDir/conf/test.config"
    }
    pawsey_zeus {
        includeConfig "${baseDir}/conf/c16.config"
        includeConfig "${baseDir}/conf/r64.config"
        includeConfig "${baseDir}/conf/t1.config"
        includeConfig "$baseDir/conf/pawsey_zeus.config"
    }

    c4 {
        includeConfig "${baseDir}/conf/c4.config"
    }
    c8 {
        includeConfig "${baseDir}/conf/c8.config"
    }
    c16 {
        includeConfig "${baseDir}/conf/c16.config"
    }

    r8 {
        includeConfig "${baseDir}/conf/r8.config"
    }
    r16 {
        includeConfig "${baseDir}/conf/r16.config"
    }
    r32 {
        includeConfig "${baseDir}/conf/r32.config"
    }
    r64 {
        includeConfig "${baseDir}/conf/r64.config"
    }

    t1 {
        includeConfig "${baseDir}/conf/t1.config"
    }
    t2 {
        includeConfig "${baseDir}/conf/t2.config"
    }
    t3 {
        includeConfig "${baseDir}/conf/t3.config"
    }
    t4 {
        includeConfig "${baseDir}/conf/t4.config"
    }

    c4r16 {
        includeConfig "${baseDir}/conf/c4.config"
        includeConfig "${baseDir}/conf/r16.config"
    }
    c4r16 {
        includeConfig "${baseDir}/conf/c4.config"
        includeConfig "${baseDir}/conf/r16.config"
    }
    c8r16 {
        includeConfig "${baseDir}/conf/c8.config"
        includeConfig "${baseDir}/conf/r16.config"
    }
    c8r32 {
        includeConfig "${baseDir}/conf/c8.config"
        includeConfig "${baseDir}/conf/r32.config"
    }
    c16r32 {
        includeConfig "${baseDir}/conf/c16.config"
        includeConfig "${baseDir}/conf/r32.config"
    }
    c16r64 {
        includeConfig "${baseDir}/conf/c16.config"
        includeConfig "${baseDir}/conf/r64.config"
    }
}

// Avoid this error:
// WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
// Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351, once this is established and works well, nextflow might implement this behavior as new default.
docker.runOptions = '-u \$(id -u):\$(id -g)'
podman.runOptions = '-u \$(id -u):\$(id -g)'

// Mount the filesystem with singularity.
singularity.autoMounts = true

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/execution_trace.txt"
}
dag {
    file = "${params.tracedir}/pipeline_dag.svg"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
                return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
                return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
                return obj
        }
    }
}
