process {
  withLabel: apoplastp {
    container = { make_image_name("apoplastp")  }
  }

  withLabel: deeploc {
    container = { make_image_name("deeploc")  }
  }

  withLabel: deepsig {
    container = { make_image_name("deepsig")  }
  }

  withLabel: download {
    container = { make_image_name("base")  }
  }

  withLabel: effectorp1 {
    container = { make_image_name("effectorp1")  }
  }

  withLabel: effectorp2 {
    container = { make_image_name("effectorp2")  }
  }

  withLabel: emboss {
    container = { make_image_name("emboss")  }
  }

  withLabel: ffdb {
    container = { make_image_name("ffdb")  }
  }

  withLabel: hmmer3 {
    container = { make_image_name("hmmer3") }
  }

  withLabel: localizer {
    container = { make_image_name("localizer")  }
  }

  withLabel: mmseqs {
    container = { make_image_name("mmseqs")  }
  }

  withLabel: pfamscan {
    container = { make_image_name("pfamscan")  }
  }

  withLabel: phobius {
    container = { make_image_name("phobius")  }
  }

  withLabel: posix {
    container = { make_image_name("base")  }
  }

  withLabel: python3 {
    container = { make_image_name("python3")  }
  }

  withLabel: seqrenamer {
    container = { make_image_name("seqrenamer") }
  }

  withLabel: signalp3 {
    container = { make_image_name("signalp3")  }
  }

  withLabel: signalp4 {
    container = { make_image_name("signalp4")  }
  }

  withLabel: signalp5 {
    container = { make_image_name("signalp5")  }
  }

  withLabel: targetp {
    container = { make_image_name("targetp")  }
  }

  withLabel: tmhmm {
    container = { make_image_name("tmhmm")  }
  }
}
