docker {
    enabled = true
    temp = "auto"
    sudo = true
}

process {
    withLabel: busco {
        container = "darcyabjones/busco:panann-${manifest.version}"
    }
    withLabel: spaln {
        container = "darcyabjones/spaln:panann-${manifest.version}"
    }
    withLabel: augustus {
        container = "darcyabjones/augustus:panann-${manifest.version}"
    }
    withLabel: star {
        container = "darcyabjones/star:panann-${manifest.version}"
    }
    withLabel: gmap {
        container = "darcyabjones/gmap:panann-${manifest.version}"
    }
    withLabel: samtools {
        container = "darcyabjones/samtools:panann-${manifest.version}"
    }
    withLabel: stringtie {
        container = "darcyabjones/stringtie:panann-${manifest.version}"
    }
    withLabel: codingquarry {
        container = "darcyabjones/codingquarry:panann-${manifest.version}"
    }
    withLabel: signalp {
        container = "darcyabjones/signalp:panann-${manifest.version}"
    }
    withLabel: trinity {
        container = "darcyabjones/trinity:panann-${manifest.version}"
    }
    withLabel: pasa {
        container = "darcyabjones/pasa:panann-${manifest.version}"
    }
    withLabel: python3 {
        container = "darcyabjones/python3:panann-${manifest.version}"
    }
    withLabel: posix {
        container = "darcyabjones/posix:panann-${manifest.version}"
    }
    withLabel: download {
        container = "darcyabjones/download:panann-${manifest.version}"
    }
    withLabel: genemarkes {
        container = "darcyabjones/genemarkes:panann-${manifest.version}"
    }
    withLabel: braker {
        container = "darcyabjones/braker:panann-${manifest.version}"
    }
    withLabel: braker_genemarkes {
        container = "darcyabjones/braker_genemarkes:panann-${manifest.version}"
    }
}
