process {
  // These are default values used for anything not specified with a label.
  cpus = 1
  memory = 1.GB

  withLabel: download {
    errorStrategy = "retry"
    maxRetries = 5
  }

  withLabel: small_task {
    cpus = 1
    memory = 2.GB
  }

  withLabel: medium_task {
    cpus = 4
    memory = 6.GB
  }

  withLabel: biggish_task {
    cpus = 8
    memory = 14.GB
  }

  withLabel: big_task {
    cpus = 16
    memory = 30.GB
  }
}
