singularity.runOptions = '-B $MYGROUP -B $MYSCRATCH --pwd $(pwd)'
slurm_account = 'y95'

process {
  // These are default values used for anything not specified with a label.
  cpus = 1
  memory = 1.GB

  executor = 'slurm'
  time = '23h'
  queue = 'workq'
  clusterOptions = "--account=$slurm_account"
  queueSize = 96
  errorStrategy = 'finish'

  withLabel: download {
    errorStrategy = "retry"
    cpus = 1
    memory = 1.GB
    maxRetries = 5
  }

  withLabel:process_low {
    cpus = 1
    memory = 4.GB
  }

  withLabel: process_medium {
    cpus = 4
    memory = 8.GB
  }

  withLabel: process_high {
    cpus = 14
    memory = 60.GB
  }
}

