singularity.runOptions = '-B $MYGROUP -B $MYSCRATCH --pwd $(pwd)'

process {
  // These are default values used for anything not specified with a label.
  cpus = 1
  memory = 1.GB

  executor = 'slurm'
  time = '23h'
  queue = 'workq'
  queueSize = 96
  module = 'singularity'

  withLabel: download {
    errorStrategy = "retry"
    maxRetries = 5
  }

  withLabel:process_low {
    cpus = 1
    memory = 4.GB
  }

  withLabel:cpu_low {
    cpus = { check_max( 1, 'cpus' ) }
  }
  withLabel:cpu_medium {
    cpus = { check_max( 4, 'cpus' ) }
  }
  withLabel:cpu_high {
    cpus = { check_max( 28, 'cpus' ) }
  }

  withLabel:ram_low {
    memory = { check_max( 4.GB, 'memory' ) }
  }
  withLabel:ram_medium {
    memory = { check_max( 16.GB, 'memory' ) }
  }
  withLabel:ram_high {
    memory = { check_max( 64.GB, 'memory' ) }
  }

  withLabel:time_short {
    time = { check_max( 3.h * task.attempt, 'time' ) }
  }
  withLabel:time_medium {
    time = { check_max( 15.h * task.attempt, 'time' ) }
  }
  withLabel:time_long {
    time = { check_max( 24.h * task.attempt, 'time' ) }
  }
}
