process {

  withLabel:ram_low {
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  }
  withLabel:ram_medium {
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withLabel:ram_high {
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
}

params {
  max_memory = 16.GB
}
