process {
  withLabel:ram_low {
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  withLabel:ram_medium {
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withLabel:ram_high {
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
  }
}

params {
  max_memory = 64.GB
}
