singularity {
    enabled = true
}

process {
    withLabel: ffdb {
        container = "containers/singularity/ffindex.sif"
    }
    withLabel: ffindex {
        container = "containers/singularity/ffindex.sif"
    }
    withLabel: signalp3 {
        container = "containers/singularity/signalp3.sif"
    }
    withLabel: signalp4 {
        container = "containers/singularity/signalp4.sif"
    }
    withLabel: signalp5 {
        container = "containers/singularity/signalp5.sif"
    }
    withLabel: tmhmm {
        container = "containers/singularity/tmhmm.sif"
    }
    withLabel: targetp {
        container = "containers/singularity/targetp.sif"
    }
    withLabel: effectorp1 {
        container = "containers/singularity/effectorp1.sif"
    }
    withLabel: effectorp2 {
        container = "containers/singularity/effectorp2.sif"
    }
    withLabel: apoplastp {
        container = "containers/singularity/apoplastp.sif"
    }
}

