process {

  withLabel:cpu_low {
    cpus = 1
  }
  withLabel:cpu_medium {
    cpus = 4
  }
  withLabel:cpu_high {
    cpus = 16
  }

  withLabel:ram_low {
    memory = 2.GB
  }
  withLabel:ram_medium {
    memory = 8.GB
  }
  withLabel:ram_high {
    memory = 16.GB
  }

  // Time usually only needs to be set for things like HPC or maybe
  // in cloud environments if you want to avoid getting a really big bill
  // unexpectedly.
  withLabel:time_short {
    time = 2.h
  }
  withLabel:time_medium {
    time = 10.h
  }
  withLabel:time_long {
    time = 24.h
  }


  // Other available labels are:
  // download
  // posix
  // predectorutils
  // signalp3
  // signalp4
  // signalp5
  // signalp6
  // deepsig
  // phobius
  // tmhmm
  // targetp
  // deeploc
  // apoplastp
  // localizer
  // effectorp1
  // effectorp2
  // effectorp3
  // deepredeff
  // emboss
  // hmmer3
  // pfamscan
  // mmseqs
}

params {
  max_cpus = 4
  max_memory = 32.GB

  // Time usually only needs to be set for things like HPC or maybe
  // in cloud environments if you want to avoid getting a really big bill
  // unexpectedly.
  max_time = 24.h
}
