/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run ccdmb/predector -profile test
 */

params {
  proteome = "${baseDir}/test/test_set.fasta"
  phibase = "${baseDir}/test/dummy_phibase.fasta"
  chunk_size = 10
}
